body{
    background-image: url('images/background.png');
    color:#063084;
}

/*HEADER*/
.header{
    background-color: white;
    font-family: "Homemade Apple", cursive;
    padding-top: 1.5%;
}

h1 {
    text-align: center;
    color:#063084;
    text-decoration: none;
}

a{
    text-decoration: none;
    color:#063084;
}

header h1:hover {
    font-style: italic;
}

h3{

    text-align: center;
    color: #063084;
}

/*IMAGE ACCUEIL*/
.image_illustration{
    padding: 10%;
    background-position: center;
}

.image_illustration#production{
    background-image: url('images/supernova/supernova_still.jpg');
}

.image_illustration#distribution{
    background-image: url('images/laPassante/la_passante_still.png');
}

.image_illustration#aboutus{
    background-image: url('images/lonelyPeople/LPELP_still.png');
}

/*INFOS ACCUEIL*/
.titre_page, h3{
    font-family: "Homemade Apple", cursive;
    text-align: center; 
}

/*NAVIGATION*/
.navigation{
    margin: 0 auto;
    width: 75px;
}

.b_nv{
    background-color: #063084;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 5px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 3px;
    color: white;
}

#current{
    background-color: #F9E701;
    color: #063084;
}

/*FILMS*/
.film{
    float:left;
    color: #063084;
    padding-bottom: 2.5%;
    padding-left: 15%;
}

.affiche{
    position: relative;
    text-align: center;
    float: left;
    width: 20%;
    color: #063084;
    text-decoration: none;
}

.texte_film{
    float: left;
    width: 50%;
    background-color: white;
    border-radius: 15%;
    padding: 1.5%;
}

.texte_affiche {
    position: absolute;
    top: 50%;
    left: 45%;
    display: none;
    color: white;
    text-decoration: none;
}

.affiche:hover .texte_affiche {
    display: block;
}

.affiche:hover img{
    opacity: 50%;
}

.presentation_distrib_prod p{
    text-align: center;
}

.actu{
    color: #063084;
    text-align: center;

}

/*CONTACT*/
a#contact:hover{
    font-style: italic;
}



/*ABOUT US*/
p#aboutus{
    text-align: center;
    border-radius: 2px;
}

