/*BODY*/
/*url palette https://coolors.co/063084-ffffff-f9e701-d2cecb-7196b0 */
body{
    background-color: white;
}

/* HEADER  */
.hautdepage{
    display: flex;
    padding-top: 1.5%;
    background-color: #FFFFFF;
}

.hdp {
    text-align: center;
    width: 33%;
    font-size: 25px;
    font-family: "Homemade Apple", cursive;
}

.hdp a{
    text-decoration: none;
    color: #063084;
}

.hdp a:hover{
    text-decoration: none;
    color: #7196B0;
}

.hdp #2{
    font-size: larger;
}

.hdp img{
    height: 75px;
}

.hpd#1{
    font-size: 50px;
}

/*CAROUSEL_1*/

.container{
    width: 100%;
}

.carousel-inner .img{
    max-height: 20%;
    position: center;
    background-color: white;
}

.image_numero_1{
    background-image: url(../images/supernova/supernova_still.jpg);
    background-size: cover;
}

.titre_carousel{
    padding: 15%;
    text-align: center;
    font-family: "Homemade Apple", cursive;
    color: white;
    font-weight: 700;
}

.image_numero_2{
    background-image: url(../images/SolBeni/solbeni_banniere.png);
    background-size: cover;
}

.image_numero_3 {
    background-image: url(../images/sadDiva/sadDiva_still.png);
    background-size: cover;
}

.image_numero_4 {
    background-image: url(../images/lonelyPeople/LPELP_still.png);
    background-size: cover;
}

.image_numero_5 {
    background-image: url(../images/painsDeMiel/Stills_1.1.5.jpg);
    background-size: cover;
}

a#carCont{
    height: 50%;
    align-self: center;
}

/*CAROUSEL PROD*/
.image_numero_1_small{
    background-image: url(../images/snow/snow_vignette.tif);
    width: 40%;
}

.image_numero_2_small{
    background-image: url(../images/laPassante/passerby_vignette.png);
    width: 40%;
}

.image_numero_3_small{
    background-image: url(../images/SolBeni/solbeni_vignette.png);
    width: 40%;
}

/*CAROUSEL DISTRIB*/

#dis1{
    background-image: url(../images/charbon-illustration.jpg);
    width: 40%;
}

#dis2{
    background-image: url(../images/laPassante/la_passante_still.png);
    width: 40%;
}

#dis3{
    background-image: url(../images/snow-in-september-illustration.jpg);
    width: 40%;
}

/*CAROUSEL DISTRIB/PROD GENERAL*/
.titre_image_1{
    width: 55%;
    padding: 5%;
    text-align: left;
    font-family: "Homemade Apple", cursive;
    color: white;
    font-weight: 700;
}

.real_paccueil{
    font-family:'Inclusive Sans', sans-serif;
    font-family: 'Red Rose', serif;
}

.content{
    display: flex;
}


.titre a {
    text-decoration: none;
    color: white;
}

.titre a:hover{
    font-style: italic;
    color: white;
    text-decoration: none;
}

/*FOOTER*/
.bas_de_page{
    background-color: white;
}

.bas_de_page{
    display: flex;
    font-family: "Homemade Apple", cursive;
}

.bdp{
    text-align: center;
    width: 33%;
}

.bdp a{
    color: grey;
    text-decoration: none;
}

.bdp a:hover{
    color: lightgray;
    text-decoration: none;
}




